$width: 1272px;
$color: #FFFFFF;

.container {
  width: $width;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: #445161;
  justify-content: space-between;

  &__heading {
    color: $color;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 25px 0 0 50px;
  }

  &__logo {
    margin: 27px 51px 34px 0;
  }
}

.header__content {
  margin: 40px 0 19px 71px;

  & li {
    line-height: 30px;
    list-style-type: none;
    list-style-image: url("../images/marker.png");

    & a {
      color: $color;
      font-size: 20px;
      text-decoration: none;
    }
  }
}